PORT=8787
HOST=127.0.0.1
DATABASE_PATH=./data/referrals.sqlite
PUBLIC_INVITE_BASE_URL=https://speakitapp.ca/invite/
APPLE_BUNDLE_ID=com.calvinwak.SpeakIt
APPLE_APP_ID=
APPLE_ISSUER_ID=
APPLE_KEY_ID=
APPLE_PRIVATE_KEY_PATH=
APPLE_ROOT_CA_PATHS=
APPLE_FRIEND_OFFER_IDENTIFIER=speakit_referral_friend_month
APPLE_FRIEND_CUSTOM_CODE=SPEAKITFRIEND
APPLE_REWARD_OFFER_IDENTIFIER=speakit_referral_reward_month
APPLE_REWARD_MONTHLY_PROMO_IDENTIFIER=speakit_referral_reward_monthly
APPLE_REWARD_ANNUAL_PROMO_IDENTIFIER=speakit_referral_reward_annual
ADMIN_TOKEN=
CODE_ENCRYPTION_KEY=
